<div class="container">
  <div>名前：</div>
  <%= @kitchencar.name %>

  <div>説明：</div>
  <%= @kitchencar.introduction %>

  <div> 場所：</div>
  <%= @kitchencar.location %>

  <div>写真：</div>
  <% if @kitchencar.portraits.attached? %>
    <% @kitchencar.portraits.each do |portrait| %>
      <%= image_tag portrait %>
    <% end %>
  <% end %></div>